<h1>Applicants</h1>

<table class="zui-table">
    <thead>
        <tr>
            <% Applicant.attribute_names.each do |attribute|%>
              <th><%=attribute%></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
      <% @applicants.each do |applicant|%>
        <tr>
          <% applicant.attributes.values.each do |attribute|%>
            <td>
              <% if attribute == applicant.name %>
                <a href="/applicants/<%= applicant.id %>"><%= applicant.name %></a>
              <%else%>
                <%=attribute%>  
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>

<a href="applicants/new">Add New Applicant</a>